* {
  box-sizing: border-box;
}

.hero {
  background-image: linear-gradient( rgba(79, 79, 79, 0.3), rgba(79, 79, 79, 0.3)),url(images/hero-image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  display: flex;
}

.hero-about {
  flex-basis: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 6vw;
}

.view-work {
  width: 200px;
  padding: 15px;
  background-color: #292929;
  color: white;
}

.logo {
  width: min-content;
}

.hero p, a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 130%;
}

.hero-services {
  flex-basis: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-color: #292929;
  padding-left: 2vw;
}

.service-items {
  display: flex;
}

.service-items h3 {
  margin-left: 15px;
}
